
    
   
    <div class="stepper-wrapper">
      <div [class]="decade >= 1950 ? 'stepper-item completed' : 'stepper-item active'" (click)="onClick(1950)">
        <div class="step-counter">1950</div>
     
      </div>
      <div [class]="decade >= 1960 ? 'stepper-item completed' : 'stepper-item active'"(click)="onClick(1960)">
        <div class="step-counter">1960</div>
    
      </div>
      <div [class]="decade >= 1970 ? 'stepper-item completed' : 'stepper-item active'" (click)="onClick(1970)">
        <div class="step-counter">1970</div>
        
      </div>
      <div [class]="decade >= 1980 ? 'stepper-item completed' : 'stepper-item active'" (click)="onClick(1980)">
        <div class="step-counter">1980</div>
      
      </div>
      <div [class]="decade >= 1990 ? 'stepper-item completed' : 'stepper-item active'" (click)="onClick(1990)">
        <div class="step-counter">1990</div>

      </div>
      <div [class]="decade >= 2000 ? 'stepper-item completed' : 'stepper-item active'" (click)="onClick(2000)">
        <div class="step-counter">2000</div>
      
      </div>
      <div [class]="decade >= 2010 ? 'stepper-item completed' : 'stepper-item active'" (click)="onClick(2010)">
        <div class="step-counter">2010</div>
     
      </div>
    </div>
 