<div class="splash-screen" [ngClass]="{'zoom-out': zoom === 'zoom-out'}">
  <div class="content">
    <!-- Centered and round logo -->
    <div class="logo-container">
      <img src="src/logo.png" alt="Logo">
    </div>

    <!-- Centered and styled slogan -->
    <h2 class="slogan">Journey Through Time with Erastune<br>Your Passport to the Sounds of Yesteryear, Anywhere in the World!</h2>
  </div>

  <!-- Hourglass animation -->
  <div class="hourglass-container">
    <i class="fa fa-hourglass fa-flip-horizontal fa-3x"></i>
  </div>

</div>
