
  
.popup {
  text-align: center;
  padding-top: 30px;
}

.img-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: center; /* Center items horizontally */
}

#cover {
  margin-right: 10px; /* Adjust margin as needed to separate image and text */
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  object-fit: cover;
  height: 80px;
  width: 80px;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

/* Add any other styles as needed */
.ind-song{
  color:black;
    margin-top:30px;
    font-family:Poppins;
    font-size: 55;
    font-weight: 900;
    text-shadow:  2.5px #7cc0d8;
    
}
.url{
  cursor:pointer
}