<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<a (click)="zoomIn()" class="btn zoom"><i style="margin-bottom: 30px;" class="fas fa-search-plus"></i></a>
<a (click)="zoomOut()"class="btn zoom-out"><i style="margin-bottom: 30px;" class="fas fa-search-minus"></i></a>
<a (click)="resetZoom()"class="btn zoom-init"><i style="margin-bottom: 30px;" class=" fas fa-recycle"></i></a>